[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
djangorestframework = "*"
requests = "*"
django-extensions = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
